#blog {
  margin-bottom: 190px;
}

.blog {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  gap: 42px;
  align-items: center;
  justify-content: center;
}

.blog_card {
  border-radius: 50px;
  background: var(--GRAY);
  padding: 30px;
  color: var(--DARK);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
.blog_card:first-child {
  background: var(--BLUE);
  color: var(--WHITE);
}

.blog_card:last-child {
  background: #5699e8;
  color: var(--WHITE);
}
.blog_logo {
  padding: 10px;
  background: var(--WHITE);
  border-radius: 50%;
}

.blog_link {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.blog_link h3 {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -2.08px;
  text-transform: uppercase;
}

.blog_link a img {
  fill: var(--WHITE);
}

@media only screen and (max-width: 1024px) {
  #blog {
    margin-bottom: 100px;
  }
  .blog_link h3 {
    font-size: 22px;
  }
  .blog {
    gap: 20px;
  }
  .blog_card {
    border-radius: 30px;
    padding: 20px;
    gap: 30px;
  }
  .blog_logo {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  #blog {
    margin-bottom: 70px;
  }
  .blog_link h3 {
    font-size: 26px;
  }
  .blog {
    grid-template-columns: 6fr 6fr;
    gap: 42px;
  }
  .blog_card {
    padding: 30px;
  }
}

@media only screen and (max-width: 425px) {
  #blog {
    margin-bottom: 46px;
  }
  .blog_link h3 {
    font-size: 15px;
  }
  .blog {
    gap: 16px;
  }
  .blog_card {
    border-radius: 30px;
    padding: 20px;
    gap: 20px;
  }
  .blog_link img {
    width: 20px;
    height: 20px;
  }
  .blog_logo {
    width: 40px;
    height: 40px;
    padding: 8px;
  }
}
