#accordion {
  background-image: url("../../assets/accardionbg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
}

.accordion {
  width: 100%;
  padding: 80px 0px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 15px 0px rgba(119, 119, 119, 0.15);
  backdrop-filter: blur(11px);
  margin-bottom: 78px;
}

.accordion h2 {
  color: var(--DARK);
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

.accordion_text {
  color: var(--DARK);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 185%;
  letter-spacing: -0.2px;
  margin: 30px 120px 40px;
}

.accordion_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px 0px rgba(119, 119, 119, 0.1);
}
.accordion_card {
  padding: 0 15%;
  margin-bottom: 26px;
}

.accordion_button p {
  color: var(--DARK);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.accor_text {
  display: block;
  color: var(--DARK);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 0px 0px 40px 40px;
  background: var(--White);
  box-shadow: 0px 0px 15px 0px rgba(119, 119, 119, 0.1);
  padding: 30px;
  margin: 0 45px 0px 45px;
}

@media only screen and (max-width: 1024px) {
  .accordion h2 {
    font-size: 32px;
  }

  .accordion_text {
    font-size: 18px;
    margin: 30px 20px 30px;
  }
  .accordion_button p {
    font-size: 18px;
  }
  .accordion_card {
    padding: 0 8%;
    margin-bottom: 26px;
  }
  .accor_text {
    font-size: 16px;
    padding: 30px;
    margin: 0 45px 0px 45px;
  }
}

@media only screen and (max-width: 768px) {
  .accordion h2 {
    font-size: 32px;
  }

  .accordion_text {
    font-size: 18px;
    margin: 30px 20px 30px;
  }
  .accordion_button p {
    font-size: 18px;
  }
  .accordion_card {
    padding: 0 8%;
    margin-bottom: 26px;
  }
  .accor_text {
    font-size: 16px;
    padding: 30px;
    margin: 0 45px 0px 45px;
  }
}

@media only screen and (max-width: 425px) {
  .accordion {
    padding: 40px 0px;
  }
  .accordion h2 {
    font-size: 20px;
  }

  .accordion_text {
    font-size: 12px;
    margin: 16px 10px 20px;
  }
  .accordion_button {
    padding: 10px 20px;
  }
  .accordion_button p {
    font-size: 14px;
  }
  .accordion_card {
    padding: 0 10px;
    margin-bottom: 16px;
  }
  .accor_text {
    font-size: 12px;
    padding: 10px 16px 16px;
    margin: 0 10px 0px 10px;
  }
}
