@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;0,900;1,100;1,200;1,300;1,600;1,700;1,800;1,900&display=swap");

:root {
  --DARK: #161616;
  --WHITE: #fff;
  --BLUE: #3402f9;
  --GRAY: #f0f0f0;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1560px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.title {
  color: var(--DARK);
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 40px;
}
.ReactCollapse--collapse {
  transition: height 500ms;
}
.alert {
  position: fixed;
  top: 10%;
  right: 10%;
  z-index: 1111;
  padding: 15px 30px;
  font-size: 20px;
  color: #fff;
  background-color: var(--BLUE);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
