#header {
  box-shadow: 0px 0px 15px 0px rgba(119, 119, 119, 0.5);
  background: var(--WHITE);
  z-index: 12;
  padding: 56px 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 120px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_btn {
  color: var(--DARK);
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

#navbar li {
  list-style: none;
  position: relative;
}

#navbar li:last-child {
  display: none;
}

#navbar li a {
  text-decoration: none;
  color: var(--DARK);
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active,
.header_btn:hover {
  color: var(--BLUE);
  border-bottom: 2px solid var(--BLUE);
}

#mobile {
  display: none;
}

.navbar_btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.button_logo {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  #header {
    padding: 34px 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    position: fixed;
    top: 115px;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: var(--WHITE);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 40px;
    transition: 0.3s ease-in-out;
    z-index: 0;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li:last-child {
    display: block;
  }

  #mobile {
    display: block;
  }

  .header_btn {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  #header {
    padding: 12px 0;
  }

  nav img {
    width: 140px;
  }

  .button_logo {
    width: 30px;
    height: 30px;
  }

  #navbar {
    top: 60px;
    width: 100%;
    right: 0px;
    top: -900px;
    z-index: -0;
    position: absolute;
  }

  #navbar.active {
    top: 60px;
  }
}
